<script type="text/javascript">
//<![CDATA[
$(function(){
	// 添加用户
	$('body').on('click', 'button[name=btn_addUser]', function(){
		alert("test");
	});
	
	var listUser = function(data){
		
		$("#tb_body_user_list").empty(); // 清除当前数据
		for (var i in data.items){
			
			var rowHtml = "<tr>";
			rowHtml += "<td>"+data.items[i].id+"</td>";
			rowHtml += "<td>"+data.items[i].username+"</td>";
			if (data.items[i].enable){
				rowHtml += "<td>启用</td>";
			}else{
				rowHtml += "<td>禁用</td>";
			}
			rowHtml += opButton(data.items[i]);
			rowHtml += "</tr>";
			
			$("#tb_body_user_list").append(rowHtml);
		}
	};
	
	var opButton = function(item){
		var tdHtml = "<td>";
		if (item.enable){
			tdHtml += "<button data='"+item.id+"' class='btn btn-default' name='btn_forbidden'>禁用</button>&nbsp;"
		}else{
			tdHtml += "<button data='"+item.id+"' class='btn btn-default' name='btn_forbidden'>启用</button>&nbsp;"
		}
		
		tdHtml += "<button data='"+item.id+"' class='btn btn-default' name='btn_userdetail'>查看账号信息</button>&nbsp;"
		tdHtml += "<button data='"+item.id+"' class='btn btn-default' name='btn_config'>分配权限</button>&nbsp;"
		tdHtml += "<button data='"+item.id+"' class='btn btn-default' name='btn_usergroup'>用户组管理</button>&nbsp;"
		tdHtml += "</td>";
		
		return tdHtml
	};
	
	var loadTableData = function(offset, pageSize){
		$.post("/user/getUsers", {'offset':offset, 'pageSize':pageSize}, function(data){
			listUser(data)
		});
	}
	
	loadTableData(0, 20);
	
});
//]]>
</script>
<div>
	<h2>用户管理</h2>
</div>
<br/>
<div>
	<button class="btn btn-default" name="btn_addUser" ><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增用户</button>
</div>
<br/>
<table class="table table-bordered" id="tb_user_list">
	<thead>
		<tr>
			<th>编号</th>
			<th>用户名</th>
			<th>状态</th>
			<th style="width:400px;">操作</th>
		</tr>
	</thead>
	<tbody id="tb_body_user_list">
	</tbody>
</table>