{{set . "title" "Home"}}
{{template "header.html" .}}
<style>
	body {
	  padding-top: 40px;
	  padding-bottom: 40px;
	  background-color: #eee;
	}

	.form-signin {
	  max-width: 330px;
	  padding: 15px;
	  margin: 0 auto;
	}
	.form-signin .form-signin-heading,
	.form-signin .checkbox {
	  margin-bottom: 10px;
	}
	.form-signin .checkbox {
	  font-weight: normal;
	}
	.form-signin .form-control {
	  position: relative;
	  height: auto;
	  -webkit-box-sizing: border-box;
	     -moz-box-sizing: border-box;
	          box-sizing: border-box;
	  padding: 10px;
	  font-size: 16px;
	}
	.form-signin .form-control:focus {
	  z-index: 2;
	}
	.form-signin input[type="email"] {
	  margin-bottom: -1px;
	  border-bottom-right-radius: 0;
	  border-bottom-left-radius: 0;
	}
	.form-signin input[type="password"] {
	  margin-bottom: 10px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
</style>
<script type="text/javascript">
//<![CDATA[
$(function(){
	// 图片刷新
	$('img[gorbac=img_securityCode]').on("click", function(){
		$(this).attr("src", "/pic/"+(new Date().getTime()));
		//$(this).attr("src", "/pic/");
	});
	
	// 表单验证提交
	$('#form_login').submit(function(){
		$.ajax({
			type: "POST",
			url: "/login",
			data: $(this).serialize(),
			cache: false,
			success: function(data){
				if(data.code != "ok"){
					alert(data.data);
				}else{
					window.open(data.data, "_self");
				}
			}
		});
		return false;
	});
});
//]]>
</script>
<div class="container">
	<form class="form-signin" id="form_login">
		<h2 class="form-signin-heading">请登录</h2>
		
		<!--label for="inputEmail" class="sr-only">邮件地址</label-->
		<input type="email" id="username" name="username" class="form-control" placeholder="邮件地址" required autofocus>
		
		<!--label for="inputPassword" class="sr-only">密码</label-->
		<input type="password" id="password" name="password" class="form-control" placeholder="密码" required>
		
		<div class="row">
			<div class="col-sm-5">
				<input type="text" name="securityCode" class="form-control" placeholder="验证码"/>
			</div>
			<div class="col-sm-5"><img gorbac="img_securityCode" src="/pic/1"/></div>
		</div>
		
		<br/>
		
		<button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
	</form>

</div> <!-- /container -->
{{template "footer.html" .}}